.App {
  text-align: center;
}

.App-logo {
    height: 20vmin;
}

.App-header {
  background-color: yellow;
  color: black;
}

.App-link {
  color: #61dafb;
}

.submitButton {
    width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
