body {
    font-family: roboto, sans-serif;
    background-color: ghostwhite;
    color: #222222;
}

.App-logo {
    height: 20vmin;
}

.App-header {
  background-color: yellow;
  /* color: black; */
}

.App-link {
  color: #61dafb;
}

.submitButton {
    width: 80%;
}

.signaturePad {
    border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
